.container
  - if @search_books
    %h1 搜索结果
    %hr
    .container
      - if @search_books.blank?
        %h4{style: "color:red"} 无搜索结果...
      - @search_books.each_with_index do |book, index|
        - if index%6 == 0
          .row
        .col-md-2
          .thumbnail
            %a{:href => api_book_path(book)}
              %img{:alt => "Lights", :src => book.img, :style => "width:100%; height: 200px"}/
              .caption
                %p= book.name
                %p= book.author
  - if @time_books
    .row
      %h1{style: "display:inline-block"} 新书速递
      %a.more{href: real_index_api_books_path} 更多
    %hr
    .container
      - @time_books.each_with_index do |book, index|
        - if index%6 == 0
          .row
        .col-md-2
          .thumbnail
            %a{:href => api_book_path(book)}
              %img{:alt => "Lights", :src => book.img, :style => "width:100%; height: 200px"}/
              .caption
                %p= book.name
                %p= book.author
  - if @review_books
    .row
      %h1{style: "display:inline-block"} 最受关注图书榜
      %a.more{href: real_index_api_books_path(order: "hot")} 更多
    %hr
    .container
      - @review_books.each_with_index do |book, index|
        - if index%6 == 0
          .row
        .col-md-2
          .thumbnail
            %a{:href => api_book_path(book)}
              %img{:alt => "Lights", :src => book.img, :style => "width:100%; height: 200px"}/
              .caption
                %p= book.name
                %p= book.author
  - if @book_reviews
    .row
      .col-md-10
        %h1{style: "display: inline-block"} 热门书评
        %a.more{href: api_book_reviews_path} 更多
    - @book_reviews.each do |book_review|
      .container.book_review{id: book_review.id}
        %h4= book_review.title
      %hr{style: "margin:0"}
  - if @books
    .row
      %h1= params[:book_type]
      .btn-group
        - class_name = "btn btn-default btn-sm"
        - time_class = class_name + (params[:hot] ? "" : " active")
        - hot_class = class_name + (params[:hot] ? " active" : "")
        %a{style: "text-decoration:none", class: time_class, href: api_books_path(book_type: params[:book_type])} 默认
        %a{style: "text-decoration:none", class: hot_class, href: api_books_path(book_type: params[:book_type], hot: true)} 热门
    %hr
    .container
      - @books.each_with_index do |book, index|
        - if index%6 == 0
          .row
        .col-md-2
          .thumbnail
            %a{:href => api_book_path(book)}
              %img{:alt => "Lights", :src => book.img, :style => "width:100%; height: 200px"}/
              .caption
                %p= book.name
                %p= book.author

:css
  .more {
    margin-left: 20px;
  }

:javascript
  $(document).ready(function() {
    $('.book_review').click(function(){
      window.location = "/api/book_reviews/" + this.id;
    })
  })
