.container{style: "margin-top:30px"}
  .row
    .col-md-4
      %h2= @book.name
      %img{src: @book.img, style: "width:100%"}
    .col-md-8
      %h3 内容简介
      %h4= @book.description
  %hr
  .row
    .col-md-10
      %h3 书评
    .col-md-2{style: "margin-top:20px"}
      = link_to "我要写书评", new_api_book_review_path, class: "btn btn-primary", style: "color: #FFF; text-decoration:none;"
  - @book_reviews.each do |book_review|
    %h3= book_review.title
    .row
      .col-md-1
        %div= book_review.user.nickname
      .col-md-1
        %div= book_review.created_at.strftime("%F")

